SEPOLIA_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/cm-O62J-2BzSbB0s3fm7m
PRIVATE_KEY=0x51AD06aEE09F459d1B54d27F5c8a5b16Eb483444
ETHERSCAN_API_KEY=

DIRECCION_COMPRADOR=
DIRECCION_VENDEDOR=
DIRECCION_ARBITRO=
PRECIO_ACTIVO_ETH=0.01
